#SPDX-License-Identifier: MIT-0
---
# tasks file for roles/deploy-laravel-app

# -----------------------------------------------------------------------------
# Database setup
# -----------------------------------------------------------------------------

- name: Ensure Laravel app "{{ APP_NAME }}" database exists
  mysql_db:
    name: "{{ DB_DATABASE }}"
    state: present
    login_user: "{{ mariadb_root_user }}"
    login_password: "{{ mariadb_root_user_password }}"
  become: yes

- name: 'Create Laravel MariaDB user "{{ DB_USERNAME }}" account'
  # when: should_create_app_user == true
  mysql_user:
    state: present
    name: "{{ DB_USERNAME }}"
    password: "{{ DB_PASSWORD }}"
    priv: "{{ DB_DATABASE }}.*:ALL,GRANT"  # Fixed privilege syntax
    login_user: "{{ mariadb_root_user }}"
    login_password: "{{ mariadb_root_user_password }}"
    column_case_sensitive: true
  become: yes

# -----------------------------------------------------------------------------
# Repo management
# -----------------------------------------------------------------------------

- name: Ensure repo directory ownership
  file:
    path: "{{ PROJECT_PATH }}"
    state: directory
    owner: "{{ system_user }}"
    group: "{{ PROJECT_GROUP }}"
    mode: '0755'

- name: Clone the repo
  git:
    repo: "{{ PROJECT_GITHUB_REPO }}"
    dest: "{{ PROJECT_PATH }}"
    # key_file: "/home/vagrant/.ssh/ansible-custom-labkey"
    recursive: yes
    single_branch: false
    force: yes
    update: yes
    version: "{{ PROJECT_GITHUB_BRANCH }}"
  become_user: "{{ system_user }}"
  become: yes

# -----------------------------------------------------------------------------
# Laravel project setup
# -----------------------------------------------------------------------------

- name: Check if .env file exists
  ansible.builtin.stat:
    path: "{{ PROJECT_PATH }}/.env"
  register: env_file_exist

- name: Copy dot env file to the project (equivalent to 0644)
  ansible.builtin.template:
    # src: /mytemplates/foo.j2
    src: "templates/.env.j2"
    dest: "{{ PROJECT_PATH }}/.env"
    owner: "{{ system_user }}"
    group: "{{ PROJECT_GROUP }}"
    mode: u=rwx,g=rx,o=r
  become: yes
  when: not env_file_exist.stat.exists

# -----------------------------------------------------------------------------
# Composer dependencies
# -----------------------------------------------------------------------------
- name: Check if composer is installed
  command: which composer
  # ignore_errors: yes
  register: composer_version
  become_user: vagrant

- name: Install project dependencies
  shell: "composer install -q --no-interaction"
  args:
    chdir: "{{ PROJECT_PATH }}"
  when: composer_version.rc == 0
  become: yes
  become_user: "{{ system_user }}"

- name: Ensure correct permissions are defined
  file:
    path: "{{ PROJECT_PATH }}"
    state: directory
    recurse: yes
    owner: "{{ system_user }}"
    group: "{{ PROJECT_GROUP }}"

- name: Check if APP_KEY is already set
  command: grep -E "^APP_KEY=.+$" "{{ PROJECT_PATH }}/.env"
  # command: awk -F= '$1=="APP_KEY" && $2!=""' "{{ PROJECT_PATH }}/.env"
  # changed_when: false
  register: app_key_check
  ignore_errors: yes

- name: Run some commands
  ansible.builtin.shell: |
    redis-cli -a "{{ REDIS_PASSWORD }}" -n 0 FLUSHDB 2> /dev/null

    php artisan queue:clear --queue=default
    php artisan queue:clear --queue=test-queue

    php artisan queue:flush --queue=default
    php artisan queue:flush --queue=test-queue

    php artisan cache:clear
    php artisan db:wipe
    echo '' > storage/logs/laravel.log
    echo '' > storage/logs/jobs.laravel.log
    echo '' > horizon.log
  args:
    chdir: "{{ PROJECT_PATH }}"
  become_user: "{{ system_user }}"

- name: Generate APP KEY
  ansible.builtin.command: php {{ PROJECT_PATH }}/artisan key:generate
  when: app_key_check.rc != 0

- name: Setup acls 
  ansible.builtin.include_tasks: acl-subtask.yml

- name: Setup supervisor 
  ansible.builtin.include_tasks: supervisor-subtask.yml

- name: Run some maintenance commands on {{ APP_NAME }}
  ansible.builtin.include_tasks: performance_api-maintenance-commands.yml

- name: "Setup {{ APP_NAME }} Tuning configs"
  # ansible.builtin.include_tasks: "{{ hostvar }}.yaml"
  ansible.builtin.include_tasks: performance_api-connection_pool_tuning_subtask.yml

- name: "Setup {{ APP_NAME }} Virtual Hosts"
  # ansible.builtin.include_tasks: "{{ hostvar }}.yaml"
  ansible.builtin.include_tasks: performance_api-virtualhost-subtask.yml

# - name: Stop 
#   ansible.builtin.fail:
#     msg: "Fail"
