#SPDX-License-Identifier: MIT-0
---
# tasks file for roles/iptables-firewall

- name: Ensure IPTABLES package is installed
  ansible.builtin.package:
    name: iptables
    state: present
  register: iptablesPresent

- name: Install iptables-persistent
  ansible.builtin.package:
    name: iptables-persistent
    state: present
  when: iptablesPresent.changed

- name: Flush IPTABLES safely
  ansible.builtin.shell: |
    iptables -F
    iptables -X
    iptables -P INPUT ACCEPT
    iptables -P OUTPUT ACCEPT
    iptables -P FORWARD ACCEPT

    # Allow established connections
    iptables -A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

    # Allow loopback
    iptables -A INPUT -i lo -j ACCEPT

    # Allow SSH IMMEDIATELY
    iptables -A INPUT -p tcp --dport 22 -j ACCEPT

- name: Allow HTTP/HTTPS
  ansible.builtin.shell: |
    iptables -A INPUT -p tcp --dport 80 -j ACCEPT
    iptables -A INPUT -p tcp --dport 443 -j ACCEPT

- name: Allow apps
  ansible.builtin.shell: |
    iptables -A INPUT -p tcp --dport 8000 -j ACCEPT
    # Allow Redis (port 6379)
    iptables -A INPUT -p tcp --dport 6379 -j ACCEPT
    # Allow Goaccess (port 7890)
    iptables -A INPUT -p tcp --dport 7890 -j ACCEPT

- name: Drop all other incoming traffic
  ansible.builtin.shell: iptables -P INPUT DROP

- name: Ensure the /etc/iptables directory exists
  ansible.builtin.file:
    path: /etc/iptables
    state: directory
    owner: root
    group: root
    mode: '0755'

# Another alternative is to use systemd for persistence search `systemd_make_role_persistent.md`
- name: Save IPTABLES rules persistently
  ansible.builtin.shell: iptables-save > /etc/iptables/rules.v4

# # This is called safety net, in case something goes wrong with the firewall rules (like locking us out)
# - name: Auto-rollback firewall in 2 minutes
#   ansible.builtin.shell: |
#     (sleep 120 && iptables -P INPUT ACCEPT && iptables -F) &
#   async: 1
#   poll: 0