[program:horizon]
process_name=%(program_name)s_%(process_num)02d  # Add %(process_num) for multiple processes
command=php {{ PROJECT_PATH }}/artisan horizon
autostart=true
autorestart=true
killasgroup=true
numprocs={{ PROJECT_NUMBER_OF_HORIZON_PROCESSES }}
{% raw %}
# user={{ laravel_user }}
{% endraw %}
user={{ system_user }}
redirect_stderr=true
stdout_logfile={{ PROJECT_PATH }}/horizon.log
stopwaitsecs=3600
