[api_test_simple_laravel_api]
user = www-data
group = www-data

listen = /run/php/php8.2-fpm-{{ APP_NAME }}.sock
listen.owner = www-data
listen.group = www-data

pm = dynamic
pm.max_children = 10
pm.start_servers = 3
pm.min_spare_servers = 2
pm.max_spare_servers = 5

php_admin_value[error_log] = /var/log/php8.2-fpm-{{ APP_NAME }}.log
php_admin_flag[log_errors] = on

; upload_max_filesize → maximum size of a single uploaded file (or chunk)
; post_max_size → maximum size of POST body
; max_execution_time → max script execution in seconds
; max_input_time → max time to parse input

php_admin_value[upload_max_filesize] = 50M
php_admin_value[post_max_size] = 50M
php_admin_value[max_execution_time] = 300
php_admin_value[max_input_time] = 300